body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; 
}

.container {
	width: 940px;
	margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: block;
  border-radius: 3px;
  background-color:  #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  background-color: #ee3643;
  text-align: center;
  border-bottom: 5px solid #b52933;
}
  
.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header {
  background-color: #f1f5f7;
}

.header-bar {
  height: 42px;
  background-color: #293449;
}

.header-bar .container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header-bar a {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.header-bar a:hover {
	background-color: #212a3a;
}

.header-bar a:active {
  color: #8b8e94;
  background-color: #161d29;
} 

a.header-logo {
  padding-left: 55px;
  padding-right: 54px;
  padding-bottom: 6px;
}

.header-bar .header-logo:hover{
  background-color: #ca2c37;
}

.header-bar .header-logo:active{
  background-color: #ba2732;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
}

.search-input {
  color: #ffffff;
  background-color: #293449;
	font-size: 17px;
	line-height: 18px;
	border: none;
  outline: none;
  padding: 14px 14px 10px 49px;
}

.search-label {
	padding: 12px 15px 6px 17px;
}

.icon-search {
	fill: #ffffff;
	background-color: transparent;
	opacity: .3;
}

.icon-search:hover {
  opacity: 1;
}

.search-input:hover,
.search-input:hover ~ .search-label {
	color: #ffffff;
	background-color: #212a3a;
}

.search-input:hover ~ .search-label .icon-search {
	background-color: transparent;
	opacity: 1;
}

.search-input:focus {
	color: #000000;
	background-color: #ffffff;
}

.search-input:focus::-webkit-input-placeholder {
	color: #000000;
}

.search-input:focus ~ .search-label {
	background-color: #ffffff;
}

.search-input:focus + .search-label .icon-search {
	fill: #ee3643;
	opacity: 1;
}

.search-input:active + .search-label .icon-search {
	opacity: 0.5;
	background-color: transparent;
}

a.favorites {
  padding-left: 44px;
  padding-right: 28px;
}

.favorites::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-image: url("../img/icon/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .3;
}

.favorites:hover::before {
  opacity: 1;
}

.favorites:active::before {
  opacity: .5;
}

a.cart {
  padding-left: 50px;
  padding-right: 31px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .3;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: .5;
}

a.submit {
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 22px;
}

.header-bar .submit:hover  {
  background-color: #5fbb2d;
}

.header-bar .submit:active {
  color: #f1f5f7;
  background-color: #518534;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 39px;
}

.header-middle h1 {
	color: #ee3643;
	font-style: italic;
	font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  flex-basis: 197px;
  padding-top: 4px;
  padding-left: 53px;
}

.phone-address-wrapper {
  display: flex;
  flex-direction: column;  
  flex-basis: 270px;
}

.phone-address-wrapper .phone-number {
  color: #ee3443;
	font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 8px;
}

.phone-address-wrapper .address {
  color: #32425c;
  font-size: 14px;
  text-align: center;
  margin: 0;
  justify-content: space-between;
}

.user-navigation {
  display: flex;
}

.user-navigation a {
  display: block;
  background-color: #ffffff;
  color: #000000;
  padding: 11px 25px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: #0000004c;
}

.user-navigation li {
  position: relative;
  margin-left: 10px;
}

a.login-link {
  padding-left: 48px;
}

.login-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 14px;
  background-image: url("../img/icon/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .3;
}

.login-link:hover::before {
  opacity: 1;
}

.login-link:active::before {
  opacity: .3;
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  padding: 22px 55px 16px 52px;
}

.header-navigation-list a {
  display: block;
  font-size: 17px;
  line-height: 17px;
}

.section-header {
  display: flex;
	justify-content: space-between;
	align-items: center;
  background-color: #f9f5f0;
  padding: 26px 24px 25px 30px;
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #32425c;
	margin: 0;
	padding: 0;
}

.section-header a {
  flex-basis: 253px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
}

.popular-producer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 81px;
}

.popular-producer li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
  margin-top: 20px;
}

.popular-producer li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producer li:active {
	opacity: 0.3;
}

.categories-wrapper {
	display: flex;
	padding-bottom: 53px;
	padding-top: 59px;
}

.categories {
	display: flex;
}

.categories h3 {
  margin: 0;
  padding: 14px 150px 0 22px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.categories a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  min-width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 19px 142px 22px 23px;
  background: rgba(0,0,0,.1);
}

.categories-wrapper-left {
	display: flex;
	flex-wrap: wrap;
}

.categories-left {
  padding-bottom: 20px;
}

.categories-left .materials {
	background-color: #ffbf47;
	background-image: url(../img/category/category-materials.svg);
	background-repeat: no-repeat;
	background-position: 213px 31px;
}

.categories-left .tool {
	background-color: #3bbce3; 
	background-image: url(../img/category/category-tool.svg);
	background-repeat: no-repeat;
	background-position:  197px 33px;
}

.categories-right {
  flex-direction: column;
  justify-content: space-between;
}

.categories-right .equipment {
	background-color: #dc91d8;
	background-image: url(../img/category/category-equipment.svg);
	background-repeat: no-repeat;
	background-position:  191px 31px;     
}

.categories-right .discount {
	background-color: #8ed78f; 
	background-image: url(../img/category/category-discount.svg);
	background-repeat: no-repeat;
	background-position:  196px 26px;  
}

.categories-right .delivery {
	background-color: #ffc047;
	background-image: url(../img/category/category-delivery.svg);
	background-repeat: no-repeat;
	background-position:  191px 32px;   
}

.product-catalog li:nth-child(1) {
  background-image: url(../img/category/slider-perforator.jpg);
}

.product-catalog li:nth-child(2) {
  width: 620px;
	height: 266px;
  background-image: url(../img/category/slider-drill.jpg);
}

.product-catalog-item {
  display: none;
}

.product-catalog-item-active {
	display: block;
}

.product-catalog h3 {
  font-size: 36px; 
	line-height: 36px;
	color: #ffffff;
	margin: 0;
	padding-top: 21px;
	padding-left: 24px;
	text-transform: uppercase;
}

.product-catalog p {
	padding: 0;
	padding-top: 1px;
	padding-left: 24px;
	margin: 0;
	color: #ffffff;
}

.service {
	background-color: #f4f7f9;
	margin-bottom: 82px;
} 

.service p {
  font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin: 0;
}

.service h2 {
	font-size: 30px;
  line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	padding-top: 68px;
	padding-bottom: 25px;
	margin: 0;
}

.service-wrapper {
	display: flex;
	margin: 0;
	margin-top: 55px;
	padding-bottom: 102px;
}

.service-guarantee {
	display: none;
}

.service-credit {
	display: none;
}

.button-service {
	display: block;
	background-color: #32425c;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
	padding: 21px 140px 21px 22px;
	border: none;
	border-top: 1px solid#4d637b;
}

.button-service:hover {
	background-color: #293449;
}

.button-service-current:hover {
	background-color: #ffffff;
}

.button-service-current {
	display: block;
	background-color: #ffffff;
	color: #32425c;
	font-size: 21px;
	line-height: 30px;
	border-top: none;
}

.about-us-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.about-us {
  flex-basis: 519px;
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0;
}

.about-us p {
  min-height: 50px;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
}

.delivery-list {
  font-size: 18px;
  line-height: 20px;
  padding: 10px 0 35px 35px;
}

.delivery-list li{
  padding-bottom: 20px;
}
  
.button-details {
  margin-right: 299px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0;
}

.contacts p {
  min-height: 50px;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
}

.contacts img {
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer-top  {
  background-color: #32425c;
  color: #ffffff;
}

.footer-top .container {
  display: flex;
}

.footer-address {
  flex-basis: 323px;
  padding-bottom: 45px;
}

.footer-logo {
  padding-top: 20px;
  padding-bottom: 13px;
  margin-right: 103px;
}

.footer-address p {
  color: #f3f7f9;
  margin: 0;
  padding-top: 32px;
}

.footer-address a {
  color: #f3f7f9;
}

.footer-navigation {
  flex-grow: 1;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-left: 67px;
}

.footer-site-navigation  a {
  color: #f3f7f9;
}  

.footer-catalog-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-left: 90px;
}

.footer-catalog-navigation a {
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
  color: #ffffff;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 31px;
}

.social {
  display: flex;
  padding-top: 40px;
}

.bread-crumbs {
	margin: 0;
	padding: 0;
	display: flex;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px; 
	text-transform: uppercase;
}

.bread-crumbs li {
	position: relative;
	padding-top: 21px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin-right: 40px;
}

.bread-crumbs a {
  color: #000000;
}

.catalog-page {
	margin: 0;
	margin-bottom: 20px;  
  padding: 32px 0 34px 30px;
	background-color: #f2f6f8;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px; 
	font-weight: 500;
	color: #32425c;
}

.catalog-page-wrapper {
	display: flex;
	margin-bottom: 60px;
}

.filters {
  margin-right: 21px;
}

.filters h4 {
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px; 
  font-weight: 500;
  font-family: "PT sans", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0px;
	padding: 14px 149px 15px 18px;
}

.filters fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT sans",Arial,sans-serif;
  margin-top: 25px;
  padding-top: 25px;
}

.filters fieldset:nth-child(1) {
	border-bottom: 1px solid #e5e5e5;
} 

.filters ul {
  padding-left: 35px;  
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding: 0 0 20px;
}

.filter-button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
  border: 1px solid #e5e5e5;
  flex-basis: 140px;
	padding: 15px 39px 14px 39px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list h5 {
  font-size: 18px;
  padding-top: 5px;
  margin: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.catalog-item:hover{
  box-shadow: 0px 10px 25px 0 #29344980;
}

.catalog-item-button {
  display: none;
}

.catalog-item:hover .catalog-item-button {
  display: block;
  position: absolute;
  margin: 0;
}

.item-button {
	display: block;
	text-transform: uppercase;    
  border-radius: 3px;
  font-size: 14px;
	line-height: 18px;
}

.item-button-buy {
  position: relative;
  top: 44px;
	border: 3px solid #63a63e;
	border-bottom-color:rgba(41, 52, 73, 0.5); 
	background-color: #63a63e;
  padding: 10px 45px 10px 49px;
}

.item-button-buy::before {
  position: absolute;
	content: "";
	left: 12px;
	top: 11px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.item-button-buy::hover {
	background-color: #5fbb2d;
	border: 3px solid #5fbb2d;
	border-bottom-color: #367315;
}

.item-button-buy::active {
	background-color: #518534;
	border: 3px solid #518534;
}

.item-button-favorite {
  position: relative;
  top: 89px;
	border: 3px solid #63a63e;
	background-color: #ffffff;
  padding: 10px 30px 10px 30px;
  color: #32425c;
}

.item-button-favorite::before {
  position: absolute;
	content: "";
	left: 12px;
	top: 11px;
	width: 15px;
	height: 15px;
	opacity: 0.3;
}

.item-button-favorite::hover {
	background-color: #ffffff;
	border: solid 3px #32425c;
}

.item-button-favorite::active {
	background-color: #518534;
	border: 3px solid #518534;
}

.catalog-item-price {
  min-width: 65px;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
  padding-top: 12px;
}

.new-price {
  color: #ffffff;
  background-image: url("../img/catalog/new-price-background.svg");
  background-repeat: no-repeat;
  padding: 10px 40px 10px 36px;
  margin-top: 13px;
}

.pagination-list {
  display: flex;
  padding-top: 52px;
}

.pagination-item {
	font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
	line-height: 18px;
	border: 1px solid #eaeaea;
	padding: 9px 15px 9px 16px;
	margin-right: 10px;
	border-radius: 5%;
}

.pagination-item a {
	color: #000000;
}

.pagination-item:hover {
	border-color: #bdc6ca;
}

.pagination-item:active {
	border-color: #ee3643;
}

.pagination-item-current {
	background-color: #ee3643;
	border: none;
}

.pagination-item-current a {
	color: #ffffff;
}

.modal {
  display: none;
} 