body {
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; 
  }
  .phone-number {
    color: #ee3643;
  }
  
  .address {
    color: #32425c;
  }

  h1 {
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
  }

  .header-top {
    background-color: #293449;
  }
  
  .logo {
    background-color: #ee3643;
  }

  .header-logo {
    width: 220px;
    height: 47px;
  }
  
  .header-logo:hover,
  .header-logo:focus {
    background-color: #ca2c37;
  }
  
  .header-logo:active {
    background-color: #ba2732;
  }

  .submit {
    width: 150px;
    background-color: #63a63e;
  }

  .submit:hover,
  .submit:focus {
    background-color: #5fbb2d;
  }

  .submit:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
  }

  .header-middle {
    background-color: #f4f7f9;
  }

  .header-navigation,
  .user-navigation,
  .footer-site-navigation,
  .footer-catalog-navigation {
    list-style: none;
  }

  .header-navigation a,
  .footer-site-navigation a {
    color: #ffffffff;
  }

  .footer-catalog-navigation a {
    color: #ffd180;
  }

  .user-navigation a {
    color: #000000;
  }

  .header-navigation {
    width: 940px;
    background-color: #32425c; 
  }

  .header-navigation-item{
    display: inline-block;
    color: #ffffff;
  }

  .user-navigation-item{
    background-color: #ffffff;
  }

  .footer {
    font-size: 16px;
  }
  
  .footer-address p {
    color: #f3f7f9;
  }

  .footer-top {
    background-color: #32425c; 
  }

  .footer-bottom {
    background-color: #293449; 
  }

  .footer-logo {
    width: 220px;
    height: 68px;
  }
  
  .footer-logo:hover,
  .footer-logo:focus {
    background-color: #ca2c37;
  }
  
  .footer-logo:active {
    background-color: #ba2732;
  }

  .footer-site-navigation {

  }

  .modal {
    display: none;
  }